* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

::-webkit-scrollbar {
  width: 6px;
  background: #686868;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background: #00000b;
}